<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.tigerlogistics.multiplicantin.tll.DAO.UserDAO"> 
<resultMap type="com.tigerlogistics.multiplicantin.tll.model.User" id="user">
<result column="userId" jdbcType="INTEGER" property="userId"/>
<result column="username" jdbcType="VARCHAR" property="userName"/>
<result column="password" jdbcType="VARCHAR" property="password"/>
<result column="state" jdbcType="VARCHAR" property="state"/>
<result column="city" jdbcType="VARCHAR" property="city"/>
<result column="area" jdbcType="VARCHAR" property="area"/>
<result column="address" jdbcType="VARCHAR" property="address"/>
<result column="sex" jdbcType="VARCHAR" property="sex"/>
<result column="phoneno" jdbcType="VARCHAR" property="phoneNo"/>
</resultMap>
<select id="checkLogin" resultMap="user">
select * from user where username=#{userName} and password=#{password}



</select>
<select id="showStates" resultType="java.lang.String">
select distinct state from location 



</select>
<insert id="insertUser" parameterType="com.tigerlogistics.multiplicantin.tll.model.User">
insert into user 
<trim prefix = "(" suffix = ")" suffixOverrides= ",">
<if test= "username != null">
username,
</if>
<if test= "password != null">
password,
</if>
<if test= "state != null">
state,
</if>
<if test= "city != null">
city,
</if>
<if test= "area != null">
area,
</if>
<if test= "address != null">
address,
</if>
<if test= "sex != null">
sex,
</if>
<if test= "phoneno != null">
phoneno,
</if>

</trim>
<trim prefix= "values (" suffix= ")" suffixOverrides= ",">
<if test= "username != null">
#{username, jdbcType=VARCHAR},
</if>
<if test= "password != null">
#{password, jdbcType=VARCHAR},
</if>
<if test= "state != null">
#{state, jdbcType=VARCHAR},
</if>
<if test= "city != null">
#{city, jdbcType=VARCHAR},
</if>
<if test= "area != null">
#{area, jdbcType=VARCHAR},
</if>
<if test= "address != null">
#{address, jdbcType=VARCHAR},
</if>
<if test= "sex != null">
#{sex, jdbcType=VARCHAR},
</if>
<if test= "phoneno != null">
#{phoneno, jdbcType=VARCHAR},
</if>

</trim>
</insert>

<select id="showCities" resultType="java.lang.String">
select distinct city from location where state=#{state}
</select>

<select id="show_areas" resultType="java.lang.String">
select area from location where city=#{city}
</select>

</mapper>